<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyFirstService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/ZQY_WCF/MyFirstService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyFirstService"
                contract="zqy_ServiceReference.IMyFirstService" name="BasicHttpBinding_IMyFirstService" />
        </client>
    </system.serviceModel>
</configuration>